.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 64px;
  border-bottom: 5px solid rgba(0, 128, 255, 0.4);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}


.logo span {
  font-size: 1.5rem;
  font-weight: bold;
}

.spacer {
  flex: 1; 
}